/* --- 1. Loader: Ring --- */

.loader-ring {
	width: 48px;
	height: 48px;
	border-radius: 50%;
	position: relative;
	animation: rotate 1s linear infinite;
}
.loader-ring::before,
.loader-ring::after {
	content: '';
	box-sizing: border-box;
	position: absolute;
	inset: 0px;
	border-radius: 50%;
	border: 5px solid #fff;
	animation: prixClipFix 2s linear infinite;
}
.loader-ring::after {
	inset: 8px;
	transform: rotate3d(90, 90, 0, 180deg);
	border-color: #ff3d00;
}

@keyframes rotate {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

@keyframes prixClipFix {
	0% {
		clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
	}
	50% {
		clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
	}
	75%,
	100% {
		clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
	}
}

.loader-ring1 {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  border: 3px solid;
  border-color: #FFF #FFF transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader-ring1::after {
  content: '';  
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 3px solid;
  border-color: transparent #19DBEB #19DBEB;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  animation: rotationBack 0.5s linear infinite;
  transform-origin: center center;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 
    
@keyframes rotationBack {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
    
.loader-ring2 {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: inline-block;
  border-top: 5px solid #FFF;
  border-right: 3px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 

.loader-ring3 {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: inline-block;
  border-top: 4px solid #FFF;
  border-right: 3px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 





/* --- 2. Loader: Gears --- */
.loader-gears {
	width: 60px;
	height: 40px;
	position: relative;
	display: inline-block;
	--base-color: #193cb8; /* Color oscuro para contraste */
}
.loader-gears::before {
	content: '';
	left: 0;
	top: 0;
	position: absolute;
	width: 36px;
	height: 36px;
	border-radius: 50%;
	background-color: #fff;
	background-image: radial-gradient(
			circle 8px at 18px 18px,
			var(--base-color) 100%,
			transparent 0
		),
		radial-gradient(circle 4px at 18px 0px, var(--base-color) 100%, transparent 0),
		radial-gradient(circle 4px at 0px 18px, var(--base-color) 100%, transparent 0),
		radial-gradient(circle 4px at 36px 18px, var(--base-color) 100%, transparent 0),
		radial-gradient(circle 4px at 18px 36px, var(--base-color) 100%, transparent 0),
		radial-gradient(circle 4px at 30px 5px, var(--base-color) 100%, transparent 0),
		radial-gradient(circle 4px at 30px 5px, var(--base-color) 100%, transparent 0),
		radial-gradient(circle 4px at 30px 30px, var(--base-color) 100%, transparent 0),
		radial-gradient(circle 4px at 5px 30px, var(--base-color) 100%, transparent 0),
		radial-gradient(circle 4px at 5px 5px, var(--base-color) 100%, transparent 0);
	background-repeat: no-repeat;
	box-sizing: border-box;
	animation: rotationBack-gears 3s linear infinite;
}
.loader-gears::after {
	content: '';
	left: 35px;
	top: 15px;
	position: absolute;
	width: 24px;
	height: 24px;
	border-radius: 50%;
	background-color: #fff;
	background-image: radial-gradient(
			circle 5px at 12px 12px,
			var(--base-color) 100%,
			transparent 0
		),
		radial-gradient(circle 2.5px at 12px 0px, var(--base-color) 100%, transparent 0),
		radial-gradient(circle 2.5px at 0px 12px, var(--base-color) 100%, transparent 0),
		radial-gradient(circle 2.5px at 24px 12px, var(--base-color) 100%, transparent 0),
		radial-gradient(circle 2.5px at 12px 24px, var(--base-color) 100%, transparent 0),
		radial-gradient(circle 2.5px at 20px 3px, var(--base-color) 100%, transparent 0),
		radial-gradient(circle 2.5px at 20px 3px, var(--base-color) 100%, transparent 0),
		radial-gradient(circle 2.5px at 20px 20px, var(--base-color) 100%, transparent 0),
		radial-gradient(circle 2.5px at 3px 20px, var(--base-color) 100%, transparent 0),
		radial-gradient(circle 2.5px at 3px 3px, var(--base-color) 100%, transparent 0);
	background-repeat: no-repeat;
	box-sizing: border-box;
	animation: rotationBack-gears 4s linear infinite reverse;
}
@keyframes rotationBack-gears {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(-360deg);
	}
}

/* --- 3. Loader: Dots Flash --- */
.loader-dots-flash {
	width: 8px;
	height: 8px;
	position: relative;
	border-radius: 50%;
	background-color: #fff;
	box-shadow: 16px 0 #fff, -16px 0 #fff;
	animation: flash-dots 0.5s ease-out infinite alternate;
}
@keyframes flash-dots {
	0% {
		background-color: rgba(255, 255, 255, 0.25);
		box-shadow: 16px 0 rgba(255, 255, 255, 0.25), -16px 0 rgba(255, 255, 255, 1);
	}
	50% {
		background-color: rgba(255, 255, 255, 1);
		box-shadow: 16px 0 rgba(255, 255, 255, 0.25), -16px 0 rgba(255, 255, 255, 0.25);
	}
	100% {
		background-color: rgba(255, 255, 255, 0.25);
		box-shadow: 16px 0 rgba(255, 255, 255, 1), -16px 0 rgba(255, 255, 255, 0.25);
	}
}


/* 4. Loader: balls */
.loader-balls {
  width: 48px;
  height: 48px;
  display: block;
  margin:15px auto;
  position: relative;
  color: #FFF;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader-balls::after,
.loader-balls::before {
  content: '';  
  box-sizing: border-box;
  position: absolute;
  width: 24px;
  height: 24px;
  top: 50%;
  left: 50%;
  transform: scale(0.5) translate(0, 0);
  background-color: #FFF;
  border-radius: 50%;
  animation: animloader 1s infinite ease-in-out;
}
.loader-balls::before {
  background-color: #FF3D00;
  transform: scale(0.5) translate(-48px, -48px);
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 
@keyframes animloader {
    50% {
      transform: scale(1) translate(-50%, -50%);
}
}
    